# Basics of python

Getting started with python:
1. Variable
2. Data types
    a. Strings
    b. Logical or boolean
    c. Lists
    d. Tuples
    e. Sets
    f. Dict

In [7]:
print('Hello Anum')
# Ctrl + entr or shift + entr

Hello Anum

#### Variable

In [9]:
a = 21.6
a

21.6

In [10]:
type(a)

float

In [12]:
a='Hi anum'
type(a)

str

## Data type
a. Strings

In [13]:
a = "We are one"

In [14]:
b = 'Hurrey'

In [17]:
c = a+" "+b

In [18]:
c

'We are one Hurrey'

Operations on string

In [28]:
d = '465498494974'

In [36]:
#string
ka= 'Khalidanum'

In [47]:
ka.endswith('m')

True

In [48]:
#integer
b=2418

In [50]:
c = ka + str(b)

In [51]:
c

'Khalidanum2418'

### b. logical/boolean

&, or, ~, True, False, +, -, *, /, // **

In [52]:
# Addition
2+3

5

In [53]:
2-3

-1

In [54]:
2*3

6

In [59]:
#quotient
2/3

0.6666666666666666

In [56]:
#reminder
2//3

0

In [58]:
#square
2**2

4

# and
If both the conditions are true, then o/p is 1, if not o/p is 0

In [61]:
1&1

1

In [62]:
1&0

0

# or
if anyone condition is True then the o/p is True

In [63]:
1|1

1

In [64]:
1|0

1

In [65]:
0|0

0

In [69]:
2>3 & 1<0 | (2**2)<1

False

In [68]:
True | False

True

### Lists

* List is a datatype in python, which is used to store a sequence of values
* Lists are mutable(they can be changed at any time)
* list is represented in []

In [73]:
a = ["We are one from 4 years"]

In [74]:
type(a)

list

In [92]:
b = [2, 3, 4, 4, 5]

In [88]:
len(b)

5

#Indexing
0 from L-R
-1 from R-L

In [80]:
b[:3]

[2, 3, 4]

## adding elements
3 ways
a. Append
b. Extend
c . insert

In [120]:
#append
o = [0, 9, 7]

In [121]:
type(o)

list

In [89]:
b.append(o)

In [90]:
b

[2, 3, 4, 4, 5, [0, 9, 7]]

In [91]:
len(b)

6

In [93]:
# extend 
b.extend(o)

In [94]:
b

[2, 3, 4, 4, 5, 0, 9, 7]

In [95]:
len(b)

8

In [97]:
b.insert(2, o)

In [98]:
b

[2, 3, [0, 9, 7], 0, 4, 4, 5, 0, 9, 7]

In [99]:
b.pop(2)

[0, 9, 7]

In [100]:
b

[2, 3, 0, 4, 4, 5, 0, 9, 7]

In [109]:
b.sort(reverse=True)

In [110]:
b.count

[9, 7, 5, 4, 4, 3, 2, 0]

# Tuple
* Tuple is similiar to lists but tuple is not mutable
* Tuple are decalred using ()

In [133]:
a = (8,77,87,77)

In [128]:
type(a)

int

In [134]:
a.count(77)

2

# Sets
Sets is similiar to that in maths
it is declared using {}
they cannot have repeated values

In [135]:
a = {2, 3, 4, 5, 5}

In [137]:
b = (5, 6, 7, 8)

### Dictationaries
They are unordered
These are accessed using keys
{}

In [164]:
a = {'key1':2, 'key2': 3, 'key3': 4}

In [165]:
a.keys()

dict_keys(['key1', 'key2', 'key3'])

In [161]:
a

{}

In [167]:
print("I love you")

I love you